*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.h2{
    background-color: bisque;
    width: 80%;
    border-radius: 8px;
    padding: 4px 0;
    box-shadow: .1rem .1rem .1rem ;
}
.super{
    display: flex;
    text-align: center;
    justify-content: center;
}
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(32, 225, 161);
    justify-content: space-around;
    height: 70vh;
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 300px;
}
.box{
    margin: 2px;
    height: 80px;
    width: 80px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: .1rem .1rem .1rem ;
    font-size: xx-large;
    font-weight: bold;
    background-color: beige;
    color: brown;
}
.reset{
    background-color: rgb(226, 237, 15);
    width: 40%;
    border-radius: 8px;
    padding: 4px 0;
    box-shadow: .1rem .1rem .1rem ;
}
.reset:hover{
    background-color: rgb(181, 190, 10);
}